@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb:  0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}
button{
      cursor: url("/death.png"), auto;
    }
    a{
            cursor: url("/death.png"), auto;
    }
    
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb:  0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.custom-cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  transform:  translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  
  filter: drop-shadow(0 0 10px rgb(215, 215, 215));
  animation: pulse .5s infinite;
}

@keyframes pulse {

  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

/* لإخفاء المؤشر العادي */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    text-align: right;
      cursor: url("/death.png"),auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.alert{
      animation-name: color;
        animation-duration: .3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
}
@keyframes color {
  0%{
    background-color: red;
  }
  50%{
    background-color: black;
  }
  100%{
    background-color: red;
  }
}

::-webkit-scrollbar-thumb {
  background-color: #105d9b;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  /* cursor: pointer; */
}
::-webkit-scrollbar-thumb:hover {
  background:linear-gradient("#9061F9 ","#06b6d4 ");
/* cursor: pointer */
}
::-webkit-scrollbar {
  width: 20px;
/* cursor: pointer */
}

button,a{
  cursor: pointer
}